/*********************
General
*********************/



#homepage, #chatbot{
	text-align: center;
	margin: 0 auto;
	font-family:'Montserrat', sans-serif !important;
	font-size: 18px;
}

h1{
	font-size: 72px;
}

h2{
	font-size: 36px;
}

#dialog{
   	width: 80%;
    height: 100px;
    margin: 0 10%;
   	text-align:left;
}

#input-bot{
	display: inline;
	float: left;
	width: 92%;
	margin: 0;
	height: 40px;
}



#polly-messages{
	overflow-y: scroll;
	height: 350px;
	border-radius: 10px;
}


#input-chatbot{
	text-align: right;
}


button/*, .btn-success*/{
	text-align: center;
	display: inline;
	width: 224px;
	height: 52px;
	margin-left: 0;
}

button{
	border-radius: 100px;
}


.btn-success{
	border-radius: 10px;
	/*max-width: 25%;
	margin: 0, 25%, 0, 0;
	padding: 0;
	*/
	width: 75px;
	height: 	40px
	margin: 0;
}




/*********************
Colors
*********************/

#homepage{
	background: #fff;
	color: #555;
}

#polly-messages{
    background: #EFEFEF;
}

#input-chatbot {
    background: #fff;
}

h1{
	color: #06c1b3;
}

button, .btn-success{
	color: #fff;
	background: #06c1b3;
	border-color: #06c1b3;
}

a{
	color: #fff;
}


.navbar-default .navbar-brand{
	color: #fff;
}

button:hover, a:hover{
 text-decoration: none;
 background: #fff;
 color: #06C1B3;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
 text-decoration: none;
 background: #05A196;
 color: #fff;
 border-color: #05A196;
}

