<div id="homepage">
	<h1>Welcome to PollyBot</h1>
	<h2>Know if you're being fairly compensated.</h2>
	<section class="chatbox">
		<button>
				{{#link-to 'chatbot'}}Find Your Worth{{/link-to}}
		</button>
	</section>
</div>































<!--
{{#each model as |job|}}
{{job}}
{{/each}}
{{name}}
{{outlet}}
-->