<h1>Chatbox here</h1>
<div id="polly-messages"></div>
<textarea id="input-chatbot" class="form-control" rows="3"></textarea>
<button type="button" class="btn btn-success" {{action 'submit'}}>Submit</button>
{{outlet}}
